@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EcommerceShoppingApp.Models.User
@{
    ViewData["Title"] = "Login Page";
}
<div class="card" style="width: 450px;margin:0 auto;">
    <div class="card-body">
        <p style="text-align:center;color:red;">@ViewBag.ErrorMessage</p>
        <form asp-action="DoLogin">
            <div class="form-group">
                <label asp-for="userName">Username</label>
                <input asp-for="userName"
                type="text" class="form-control" 
                name="userName" id="userName">
            </div>
            <div class="form-group">
                <label asp-for="password">Password</label>
                <input asp-for="password"
                type="password" class="form-control" name="password" id="password">
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary btn-sm btn-block">Sign In</button>
            </div>
   
        </form>
    </div>
</div>